{%  extends "base.html" %}
{% block main_content %}
<main>
  <div class="container">
      <div class="row">
            <form action="{% url 'mudar_senha' %}"  method="post">
              {% csrf_token %}
              <div class="col s12 offset-m2 m8 offset-l3 l6">
                <div class="login-card hoverable center-align">
                  <div class="col s12">
                      <div class="row">
                          <br><br>
                          <div class="input-field col s12">
                              <i class="material-icons prefix">mode_edit</i>
                              <input id="nova_senha" name='nova_senha' type="password" class="validate">
                              <label for="nova_senha">Nova Senha</label>
                          </div>
                      </div>
                  </div>

                  <div class="col s12">
                      <div class="row">
                          <div class="input-field col s12">
                              <i class="material-icons prefix">mode_edit</i>
                              <input id="confirmacao_nova_senha" name='confirmacao_nova_senha' type="password" class="validate">
                              <label for="confirmacao_nova_senha">Confirmação Nova Senha</label>
                          </div>
                      </div>
                  </div>

                    <!-- <label>Nova senha <br>
                          <input name="nova_senha" type="password"></label>
                                  {{ form.new_password }}
                                  <br> -->
                      <!-- <label>Confirmação de Senha <BR>
                            <input name="confirmacao_nova_senha" type="password"></label>
                                    {{ form.new_password }}
                                        <br> -->

                    <div>
                      <button class="btn waves-effect waves-light saap-dark-green" type="submit'">Enviar</button>
                    </div>
                    <br><br><br>
                    {% if messages %}
                      <ul class="messages">
                      {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                </div>
            </form>
      </div>
    </div>
>>>>>>> fa95c4f67479bea0c78d53a50314ff797808eff5
</main>
{% endblock main_content %}
